.signupouter-container {
  background-color: #80cafc;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-top: 3.5px;
}

.singuprounded-container {
  border: 2px solid black;
  border-radius: 50px;
  width: 98.5%;
  height: 98.5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #6897fe;
  align-self: center;
}

.singuprounded-container > h1 {
  font-size: 50px;
}

.singuprounded-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singuprounded-container > form > input {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.singuprounded-container > p {
  font-size: 20px;
  font-weight: bold;
}

.button {
  margin-top: 30px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: #1579e9;
  color: black;
  font-weight: bold;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: none;
  border: 1px solid black;
}

.button:hover {
  background-color: #6897fe;
}

.singuprounded-container > p > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.ProfilePic{
  width: 100%;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  background-color: white;
  text-align: center;
}